# Ignorar dependencias y archivos generados
node_modules/
**/node_modules/
.DS_Store
.vscode/
dist/
build/

# Ignorar carpetas grandes del repo (si quieres mantenerlas localmente)
Biblioteca/
Formulario de inscripcion/
JavaScript the odin project/
Landin_page/
Recursion/
Tres en raya/
admin_dashboard/
linkedlist/
taskmaster-pro/
vic-restaurant/
weatherapp/
